.block_ {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.58333em;
    line-height: 1.08;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_1 {
    color: black;
    display: block;
    font-family: "Calibri", sans-serif;
    font-size: 1.41667em;
    line-height: 1.08;
    margin-bottom: 8pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_2 {
    display: block;
    font-family: "Circular Std Black", sans-serif;
    font-size: 2em;
    line-height: 1.08;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_3 {
    display: block;
    font-size: 0.75em;
    line-height: 1.08;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_4 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.58333em;
    line-height: 1.08;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.block_5 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.58333em;
    line-height: 1.08;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_6 {
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 21.3pt;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.calibre {
    color: #1F3864;
    display: block;
    font-family: "Product Sans", sans-serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    height: 55.4pt;
    line-height: 1.2;
    width: 176pt
    }
.calibre2 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre3 {
    line-height: 1.2;
    white-space: pre-wrap
    }
.tab {
    line-height: 1.2;
    white-space: pre
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

